<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <h1>All API for interior Desgin</h1>
      <ul>
            <h4>For Slider</h4>
            <li><a href="{% url 'banar-list' %}">/api/home/banars/</a></li>
            <h4>For Service</h4>
            <li><a href="{% url 'service-list' %}">/api/home/service/</a></li>
            <h4>For Product</h4>
            <li><a href="{% url 'product-list' %}">/api/home/product/</a></li>
            <h4>For Portfolio</h4>
            <li><a href="{% url 'portfolio-list' %}">/api/home/portfolio/</a></li>
      </ul>
</body>
</html>